msgid "base about custom"
msgstr "About"

msgid "base info custom"
msgstr "Internet.nl is an initiative of the Internet community and the Dutch"

msgid "about content custom"
msgstr "Some about content"

msgid "about contact custom"
msgstr ""
"# About custom\n"
"## Email\n"
"custom@example.com\n"

msgid "privacy content custom"
msgstr ""
"# Privacy statement\n\n"
"Anyone may use or reproduce any information presented on this website, subject to any specific terms of use that might appear with such information, provided that the use of such information is accompanied by an acknowledgement that the UPU is the source.\n\n"
"The UPU makes every effort to ensure, but cannot and does not guarantee, and makes no warranties as to, the accuracy, accessibility, integrity and timeliness of any information presented on this website. The UPU assumes no liability or responsibility for any errors or omissions in the content of this website and further disclaims any liability of any nature for any loss howsoever caused in connection with using this website, including failure of performance, computer virus or communication line failure, regardless of cause, or for any damages resulting therefrom. The UPU may make changes to these materials at any time without notice.\n\n"
"Hyperlinks to other websites are provided as a convenience only, and imply neither responsibility for, nor approval of, the information contained in those other web sites on the part of the UPU. The UPU makes no warranty, either express or implied, as to the accuracy, availability, reliability or content of such information, text, graphics and hyperlinks. The UPU has not tested any software located on other sites and does not make any representations as to the quality, safety, reliability or suitability of such software.\n\n"
"As the case may be, the collection and retention of personal information by the UPU through its website may be subject to the terms of a UPU privacy policy.\n\n"
"Nothing in or relating to this disclaimer or the UPU website shall be deemed a waiver, explicit or implied, of any of the privileges and immunities of the UPU.\n\n"


msgid "article custom .index"
msgstr ""
"hello-world\n"
"lorum-ipsum\n"

msgid "article hello-world date"
msgstr "22 March 2023"

msgid "article hello-world lead"
msgstr ""
"Hello world?"

msgid "article hello-world title"
msgstr "Hello World!"

msgid "article hello-world body"
msgstr "Hello World!"

msgid "article lorum-ipsum date"
msgstr "1 January 2024"

msgid "article lorum-ipsum lead"
msgstr "Lorem ipsum dolor sit amet, consectetuer adipiscing elit."

msgid "article lorum-ipsum title"
msgstr "Lorum ipsum"

msgid "article lorum-ipsum body"
msgstr "Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui."
